This time we want to write calculations using functions and get the results. Let's have a look at some examples:

seven(times(five())) # must return 35
four(plus(nine())) # must return 13
eight(minus(three())) # must return 5
six(divided_by(two())) # must return 3
Requirements:

There must be a function for each number from 0 ("zero") to 9 ("nine")
There must be a function for each of the following mathematical operations: plus, minus, times, divided_by
Each calculation consist of exactly one operation and two numbers
The most outer function represents the left operand, the most inner function represents the right operand
Division should be integer division. For example, this should return 2, not 2.666666...:
eight(divided_by(three()))

In [73]:
def seven(op_func=''):
    op = '7' + op_func
    if len(op) == 3:
        return eval(op)
    else:
        return '7'

def times(num_func):
    return '*' + num_func

def five(op_func=''):
    op = '5' + op_func
    if len(op) == 3:
        return eval(op)
    else:
        return '5'

In [77]:
seven(times(five()))

35

In [78]:
five(times(seven()))

35

In [108]:
def zero(op_func=''):
    op = '0' + op_func
    if len(op) > 2:
        return eval(op)
    else:
        return op

def one(op_func=''):
    op = '1' + op_func
    if len(op)  > 2:
        return eval(op)
    else:
        return op
    
def two(op_func=''):
    op = '2' + op_func
    if len(op)  > 2:
        return eval(op)
    else:
        return op
    
def three(op_func=''):
    op = '3' + op_func
    if len(op)  > 2:
        return eval(op)
    else:
        return op
    
def four(op_func=''):
    op = '4' + op_func
    if len(op)  > 2:
        return eval(op)
    else:
        return op
    
def five(op_func=''):
    op = '5' + op_func
    if len(op)  > 2:
        return eval(op)
    else:
        return op
    
def six(op_func=''):
    op = '6' + op_func
    if len(op)  > 2:
        return eval(op)
    else:
        return op
    
def seven(op_func=''):
    op = '7' + op_func
    if len(op) > 2:
        return eval(op)
    else:
        return op
    
def eight(op_func=''):
    op = '8' + op_func
    if len(op) > 2:
        return eval(op)
    else:
        return op
     
def nine(op_func=''):
    op = '9' + op_func
    if len(op) > 2:
        return eval(op)
    else:
        return op
     

def plus(num_func):
    return '+' + num_func

def minus(num_func):
    return '-' + num_func

def times(num_func):
    return '*' + num_func

def divided_by(num_func):
    return '//' + num_func

In [103]:
four(plus(nine()))

13

In [104]:
eight(minus(three()))

5

In [105]:
six(divided_by(two()))

3

In [109]:
nine(plus(one()))

10

In [112]:
## my favourite solution from other coders (much cleaner version of mine)

def zero(arg=""):  return eval("0" + arg)
def one(arg=""):   return eval("1" + arg)
def two(arg=""):   return eval("2" + arg)
def three(arg=""): return eval("3" + arg)
def four(arg=""):  return eval("4" + arg)
def five(arg=""):  return eval("5" + arg)
def six(arg=""):   return eval("6" + arg)
def seven(arg=""): return eval("7" + arg)
def eight(arg=""): return eval("8" + arg)
def nine(arg=""):  return eval("9" + arg)

def plus(n):       return '+' + str(n)
def minus(n):      return '-' + str(n)
def times(n):      return '*' + str(n)
def divided_by(n): return '//' + str(n)

In [113]:
nine(plus(one()))

10